.chart-wrapper {
  width: 100%;
  padding: 15px;
}

.chartContainer {
  width: 100%;
  height: 820px;
}

.toolbar {
  width: 100%;
  height: calc(100% - 850px);
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-height: 1040px) {
  .chartContainer {
    height: 700px;
  }

  .toolbar {
    height: calc(100% - 730px);
  }
}

@media screen and (max-height: 910px) {
  .chartContainer {
    height: 600px;
  }

  .toolbar {
    height: calc(100% - 630px);
  }
}

@media screen and (max-height: 810px) {
  .chartContainer {
    height: 500px;
  }

  .toolbar {
    height: calc(100% - 530px);
  }
}

@media screen and (max-width: 1273px) {
  .toolbar {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }

  .toolbox {
    margin-left: 4px !important;
    margin-right: 4px !important;
  }

  .main_box {
    margin-left: 8px !important;
    margin-right: 8px !important;
  }

}

.sp_input, .pv_input, .mv_input {
  pointer-events: none;
}

.mode_manual {
  color: rgb(252, 203, 45);
}