.chart-wrapper {
  width: 100%;
  padding: 15px;
}

.chartContainer {
  width: 100%;
  height: 700px;
}

.toolbar {
  width: 100%;
  height: calc(100% - 730px);
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-height: 910px) {
  .chartContainer {
    height: 600px;
  }

  .toolbar {
    height: calc(100% - 630px);
  }
}

@media screen and (max-height: 810px) {
  .chartContainer {
    height: 500px;
  }

  .toolbar {
    height: calc(100% - 530px);
  }
}

.toolbox {
  width: 160px;
  height: 160px;
  background-color: #333544;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
}

.toolboxcenter {
  width: 230px;
  margin-left: 10px;
  margin-right: 10px;
}

.current_speed {
  font-size: 15px;
}

.current_time {
  font-size: 50px;
}

.toolbox_value_title {
  font-size: 24px;
  margin-bottom: 20px;
}

.toolbox_value {
  font-size: 40px;
}

.tool1 {
  color: #4f81bc;
  cursor: auto;
}

.tool2 {
  color: #c0504d;
  cursor: auto;
}

.tool3 {
  color: #9bbb59;
  cursor: auto;
}

.toolbox_button {
  font-size: 22px;
}

.focusable {
  border: 4px solid #575863;
}

/*  */

.ui-widget-overlay {
  user-select: none;
  pointer-events: none;
}

.ui-dialog {
  background-color: #2d3748 !important;
  color: white !important;
  z-index: 99999 !important;
  border: 1px solid #575863 !important;
}

.ui-dialog > * {
  color: white !important;
}

.ui-dialog-titlebar, .ui-dialog-buttonpane {
  background-color: transparent !important;
  border: none !important;
}